/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotateAnimation 2s linear infinite;
}
